@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Frank+Ruhl+Libre:wght@300&display=swap");
/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--primary-background);
}

:root {
  /* Colors */
  --primary-background: #f7f2de;
  --primary-text: #0b0a08;
  --red: #dc4131;
  --hoover-red: #ae2e21;
  --green: #008f51;
  --button-green: #28bd6d;
  --truewhite: #ffffff;
  --blue: #e1eaf0;

  /* Font Families */
  --font-primary: "Arimo", sans-serif;
  --font-secondary: "Frank Ruhl Libre", serif;

  /* Font Weights */
  --font-light: 300;
  --font-regular: 400;

  /* Desktop Typography */
  --header-desktop: 36px;
  --subheader-desktop: 20px;
  --logo-desktop: 200px;
  --accent-desktop: 20px;
  --body-desktop: 16px;
  --body-large-desktop: 20px;

  /* Mobile Typography */
  --header-mobile: 24px;
  --subheader-mobile: 18px;
  --logo-mobile: 75px;
  --accent-mobile: 16px;
  --body-mobile: 16px;
  --body-large-mobile: 18px;
}
