/* ---- Hero styling ---- */
.hero {
  background-image: url("../assets/hero_img.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 850px;
  align-items: center;
  justify-content: center;
  gap: 54px;
  position: relative;
}

.hero .logo {
  position: relative;
  text-align: center;
  line-height: 150px;
}

.hero .hero-txt {
  position: relative;
  width: 416px;
  font-size: var(--header-desktop);
  font-family: var(--font-primary);
  text-transform: uppercase;
  text-align: center;
}

.vertical-divider {
  width: 2px;
  height: 208px;
  background-color: white;
  border: none;
  margin: 0;
  display: inline-block;
}

/* ---- Promo Section styling ---- */

.promo-section {
  display: flex;
}

.promo-divider {
  width: 1px;
  height: auto;
  background-color: var(--primary-text);
  border: none;
  margin: 0;
  display: inline-block;
}

.promo-card {
  flex: 1;
  padding: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.promo-title {
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  font-size: var(--header-desktop);
}

.promo-subheader {
  font-family: var(--font-secondary);
  font-size: var(--subheader-desktop);
  font-weight: var(--font-light);
  color: var(--primary-text);
}

.promo-header {
  font-family: var(--font-secondary);
  font-size: var(--body-desktop);
  font-weight: var(--font-light);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 456px;
}

.promo-image {
  width: 448px;
  height: 327px;
  object-fit: cover;
  border-radius: 16px;
}

.promo-text {
  width: 407px;
  font-family: var(--font-secondary);
  font-size: var(--body-desktop);
  font-weight: var(--font-light);
}

.promo-section .red-button {
  width: 320px;
  height: 44px;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  font-size: var(--body-desktop);
}

@media (max-width: 768px) {
  .logo {
    font-size: var(--logo-mobile);
  }

  .hero .hero-txt {
    font-size: var(--header-mobile);
    width: 248px;
  }

  .promo-section {
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
    overflow-x: hidden;
  }

  .promo-divider {
    width: auto;
    height: 1px;
    background-color: var(--primary-text);
    border: none;
  }

  .promo-header {
    width: 100%;
    max-width: 320px;
    font-size: var(--body-mobile);
  }

  .promo-image {
    width: 100%;
    max-width: 448px;
    height: 250px;
  }

  .promo-title {
    font-size: var(--header-mobile);
    width: auto; /* Use auto width for better alignment */
    text-align: center; /* Center-align the text for consistency */
  }

  .promo-subheader {
    font-size: var(--subheader-mobile);
  }

  .promo-text {
    width: 100%;
    max-width: 320px;
  }

  .promo-section .red-button {
    width: 100%;
    max-width: 320px;
  }
}
