.hero {
  background-image: url("../assets/hero_img.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 850px;
  align-items: center;
  justify-content: center;
  gap: 54px;
  position: relative;
}

.hero .logo {
  position: relative;
  font-size: 200px;
  text-align: center;
  line-height: 150px;
}

.hero .hero-txt {
  position: relative;
  width: 416px;
  font-size: 36px;
}

.vertical-divider {
  width: 2px;
  height: 208px;
  background-color: white;
  border: none;
  margin: 0;
  display: inline-block;
}
