/* ---- Hero styling ---- */
.hero {
  background-image: url("../assets/hero_img.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 850px;
  align-items: center;
  justify-content: center;
  gap: 58px;
  position: relative;
}

.hero__logo {
  font-family: var(--font-secondary);
  font-size: var(--logo-desktop);
  font-weight: var(--font-light);
  color: var(--truewhite);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 150px;
}

.hero__text {
  position: relative;
  width: 416px;
  font-size: var(--header-desktop);
  font-family: var(--font-primary);
  color: var(--truewhite);
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

.hero__divider {
  width: 2px;
  height: 208px;
  background-color: var(--truewhite);
  border: none;
  margin: 0;
  display: inline-block;
  position: relative;
}

@media (max-width: 768px) {
  .hero {
    height: 579px;
    gap: 0;
  }

  .hero__logo {
    font-size: var(--logo-mobile);
    width: auto;
    line-height: normal;
    margin-bottom: 0px;
  }

  .hero__divider {
    height: 239.5px;
    width: 1px;
    margin-bottom: 40px;
  }

  .hero__text {
    width: 240px;
    font-size: var(--header-mobile);
    line-height: normal;
    text-transform: none;
    margin-top: 0;
  }
}

/* ---- Promo Section styling ---- */

.promo {
  display: flex;
  background-color: var(--truewhite);
  border-bottom: solid 1px var(--primary-text);
}

.promo__divider {
  width: 1px;
  height: auto;
  background-color: var(--primary-text);
  border: none;
  margin: 0;
  display: inline-block;
}

.promo__card {
  flex: 1;
  padding: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.promo__title {
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  font-size: var(--header-desktop);
}

.promo__subtitle {
  font-family: var(--font-secondary);
  font-size: var(--subheader-desktop);
  font-weight: var(--font-light);
  color: var(--primary-text);
}

.promo__header {
  font-family: var(--font-secondary);
  font-size: var(--body-desktop);
  font-weight: var(--font-light);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 456px;
}

.promo__image {
  width: 448px;
  height: 327px;
  object-fit: cover;
  border-radius: 16px;
}

.promo__text {
  width: 407px;
  font-family: var(--font-secondary);
  font-size: var(--body-desktop);
  font-weight: var(--font-light);
}

.button {
  width: 320px;
  height: 44px;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  font-size: var(--body-desktop);
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.button--red {
  background-color: var(--red);
  color: var(--truewhite);
  border: none;
}

.button--red:hover {
  background-color: var(--hoover-red);
}

@media (max-width: 768px) {
  .promo {
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
    overflow-x: hidden;
  }

  .promo__divider {
    width: auto;
    height: 1px;
    background-color: var(--primary-text);
    border: none;
  }

  .promo__header {
    width: 100%;
    max-width: 320px;
    font-size: var(--body-mobile);
  }

  .promo__image {
    width: 100%;
    max-width: 448px;
    height: 250px;
  }

  .promo__title {
    font-size: var(--header-mobile);
    width: auto;
    text-align: center;
  }

  .promo__subtitle {
    font-size: var(--subheader-mobile);
  }

  .promo__text {
    width: 100%;
    max-width: 320px;
  }

  .button--red {
    width: 100%;
    max-width: 320px;
  }
}

/* How it works section */
.how-it-works {
  display: flex;
  border-bottom: 1px solid var(--primary-text);
}

.how-it-works__header {
  width: 33%;
  border-right: 1px solid var(--primary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.how-it-works__title {
  width: 320px;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  font-size: var(--header-desktop);
  text-transform: uppercase;
  line-height: 36px;
}

.how-it-works__steps {
  width: 67%;
}

.how-it-works__step {
  padding: 44px 96px;
  display: flex;
  align-items: center;
}

.how-it-works__step:not(:first-child) {
  border-top: 1px solid var(--primary-text);
}

.how-it-works__step-title {
  width: 288px;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  font-size: var(--subheader-desktop);
  text-transform: uppercase;
}

.how-it-works__step-content {
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.how-it-works__step-description {
  font-family: var(--font-primary);
  font-size: var(--body-desktop);
  line-height: 24px;
}

.how-it-works__step-link {
  font-family: var(--font-primary);
  font-size: var(--body-desktop);
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .how-it-works {
    flex-direction: column;
    width: 100%;
  }

  .how-it-works__header {
    width: 100%;
    border-right: none;
    padding: 96px 0 44px;
  }

  .how-it-works__title {
    width: 240px;
    font-size: var(--header-mobile);
  }

  .how-it-works__steps {
    width: 100%;
    border-top: 1px solid var(--primary-text);
  }

  .how-it-works__step {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 44px;
  }

  .how-it-works__step-title {
    width: 100%;
    font-size: var(--subheader-mobile);
  }

  .how-it-works__step-content {
    width: 100%;
  }
}
